{% extends 'base.html' %}

{% block title %}Productos{% endblock %}

{% block content %}
    <div class="product-list-panel">
        <h1>Lista de Productos</h1>
        {% if products %}
            <table class="product-table">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Stock</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                        <tr>
                            <td>{{ product.code }}</td>
                            <td>{{ product.name }}</td>
                            <td>{{ product.price }}</td>
                            <td>{{ product.stock }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button class="btn btn-success download-table-btn" onclick="window.location='{{ url_for('seller.download_seller_products') }}'">Descargar la Tabla</button>
        {% else %}
            <p>No hay productos disponibles.</p>
        {% endif %}
    </div>
{% endblock %}